.Phead {
    font-size: 2rem;
    margin-top: 33px;
    color: #aaaae6;
}

.firstSection_Project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 76px 189px;
}

.Pdesc {
    margin: 15px 0;
}