.firstsection_contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 77px 98px;
}

.leftsection_contact {
    font-size: 3rem;
    margin: 70px 0;

}

.rightsection_contact {
    width: 30%;
    font-size: 1.3rem;
    margin-top: -160px;
}

.form {
    font-size: 2rem;
}

.formInput {
    font-size: 1.3em;
    display: block;
    margin-top: 17.67px;
    background: transparent !important;
    width: 100%;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid white;
    color: rgb(131, 131, 255);
    outline: none;
}

.formInput::placeholder {
    color: white;
}

.formInput:focus {
    border-bottom: 1px solid lightblue;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: transparent;
    color: rgb(104, 95, 185);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50px;
}

input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
}

.formtext {
    margin-top: 2px;
    font-size: 1.4rem;
    color: #c4c4f0;
}

.Chead {
    margin-bottom: 71px;
}

.Scontact {
    margin-top: 23px;
    color: gray;
}

.Bdeta {
    margin-top: 23px;
}

#Csocials {
    color: gray;
}