.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 75px 0;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
    margin: 70px 149px;
}

.rightSection img {
    margin: 40px 0;
}

.purpul {
    color: rgb(112, 31, 192);
}

#element {
    color: rgb(112, 31, 192);
}

.secondSection {
    max-width: 90vw;
    margin: auto;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(128, 128, 243);
}

.indexAcc {
    margin: 34px 0;
    font-size: 2rem;
}

.conlink {
    margin-left: 26px;
}