.firstSection_about {
    margin: 75px;
    margin-bottom: 0 23px;
    margin-left: 103px;
}

.secondSection_about {
    margin-left: 103px;
    margin-bottom: 322px
}
.hello {
    font-size: 2rem;
}

table,
th,
td {
    border: 1px solid rgb(128, 128, 243);
    border-collapse: collapse;
    padding: 5px;

}

th {
    padding: 8px;
    color: #aaaae6;
}

table {
    margin: 43px 103px;
    font-size: 1.6rem;
    width: 80%;
}

.Edu {
    font-size: 2.5rem;
    margin: 40px 0;
    color: rgb(112, 31, 192);
    margin-left: 103px;
}

.Skill {
    font-size: 2.5rem;
    margin: 40px 0;
    color: rgb(112, 31, 192);
    margin-left: 103px;
}

.info {
    font-size: 1.5rem;
    margin-left: 103px;
}

.box {
    background: white;
    width: 70vw;
    height: 2px;
    margin: 103px 0;
    margin-left: 103px;
    display: flex;

}

.vertical {
    background: white;
    width: 2px;
    height: 101px;
    margin: 0 176px;
}

.image-top {
    width: 52px;
    display: flex;
    position: relative;
    top: -59px;
    left: -30px;
}

.mainS {
    margin: 15px;
    font-size: 1.7rem;
    position: relative;
    top: 50px;
    left: -46px;
}

.subS {
    position: relative;
    top: 49px;
    left: -28px;
    color: #9797ff;
}